@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Arial, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: monospace;
	--column-width: 42rem;
	--column-margin-top: 4rem;

	--color-white-1: #FFFFFF;
	--color-black-1: #000000;
	--color-black-2: #222222;

	--color-cp-teal: #00FFD2;
	--color-cp-yellow: #FCEE0A;
	--color-cp-red: #FD0130;

	--color-yellow-1: #F3E600;
	--color-yellow-2: #FFEB0B;
	--color-yellow-3: #EBE702;
	--color-cyan-1: #25E1ED;
	--color-cyan-2: #00FFFF;
	--color-cyan-3: #02d7f2;
	--color-blue-1: #007aff;
	--color-pink-1: #ED1E79;
	--color-magenta-1: #672026;
	--color-magenta-2: #FF4A57;

	--accent-color: var(--color-yellow-1);
	--background: var(--color-black-2);
	--color: var(--color-white-1);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

ul,
ol {
	list-style: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
