@import 'tailwindcss';

@theme {
	--color-blurple: #141141;
}

html,
body {
	@apply min-h-dvh;
}

body {
	@apply bg-blurple hyphens-auto break-words bg-cover bg-fixed bg-center bg-no-repeat font-sans text-gray-100;
	background-image: radial-gradient(
			at 0% 0%,
			color-mix(in srgb, var(--color-indigo-500), transparent 77%) 0px,
			transparent 70%
		),
		radial-gradient(
			at 98% 1%,
			color-mix(in srgb, var(--color-blue-500), transparent 82%) 0px,
			transparent 50%
		);
}

.content {
	--breakout-size: calc((var(--breakpoint-xl) - var(--breakpoint-lg)) / 2);
	grid-template-columns:
		[full-width-start] minmax(var(--spacing-4), 1fr)
		[breakout-start] minmax(0, var(--breakout-size))
		[content-start] min(100% - (var(--spacing-4) * 2), var(--breakpoint-lg))
		[content-end]
		minmax(0, var(--breakout-size)) [breakout-end]
		minmax(var(--spacing-4), 1fr) [full-width-end];
}

.content > :not(.breakout, .full-width) {
	grid-column: content;
}

.content > .breakout {
	grid-column: breakout;
}

.content > .full-width {
	grid-column: full-width;
}
